.products-list {
    display: flex;
    flex-wrap: wrap;
    .product {
        width: 33.33%;
        .w-prod {
            margin: 15px;
            padding: 15px;
            box-shadow: 0 0 4px 4px #00000066;
            h3 {
                margin: 5px 0 15px 0;
                text-transform: uppercase;
                background: chartreuse;
                padding: 5px;
                box-shadow: 0px 2px 1px 0px #0000008a;
                height: 20px;
                overflow: hidden; 
            }
            img {
                max-width: 100%;
                box-shadow: 0 0px 5px 3px #000000c7;
            }
            p {
                min-height: 90px;
            }
        }
        .price {
            display: flex;
            justify-content: space-between;
            button {
                background:green;
                color:#fff;
                padding: 5px 10px;
                cursor: pointer;
                border:none;
                transition: 0.5s;
                &:hover {
                    background: #11b911;
                }
                font-size: 20px;
            }
            i{
                font-size: 24px;
                font-style: normal;
                font-weight: bold;
            }
        }
    }
}