.c-form {
    max-width: 400px;
    margin: 15px auto;
    padding: 15px;
    box-shadow: 0 0 7px 2px #0000007d;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    h3 {
        width: 100%;
        margin: 5px 0 15px;
    }

    input {
        box-sizing: border-box;
        border: 2px solid #b4aeae;
        text-align: center;
        padding: 5px;

        &:nth-of-type(1) {
            width: 35%;
        }
        &:nth-of-type(2) {
            width: 15%;
        }
        &:nth-of-type(3) {
            width: 35%;
        }
        &:nth-of-type(4) {
            margin-top:15px;
            width: 100%;
        }
    }
}