#menu-nav {
    display: flex;
    li {
        a {
            padding: 10px 15px;
            display: block;
            color: #fff;
            transition: 0.5s;
            &:hover, &.selected {
                background: #13bc62;
            }
        }
    }
}