.App{
    max-width: 1000px;
    margin: auto;
}

ul, body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

@keyframes showPage {
    from {
        opacity: 0;
    }    
    to {
        opacity: 1;
    }
}

.page {    
    box-shadow: 0 0px 5px black;
    padding: 15px;
    box-sizing: border-box;
    margin-top: 15px;
    min-height: 600px;
    animation: showPage 2s;
}

