#cart {
    display: flex;
    align-items: center;
    padding: 0 15px;
    position: relative;

    .cart-header {
        color: #fff;
        font-size: 18px;
        cursor: pointer;

        .total-sum {
            margin: 0 15px;
        }
    }

    .cart-body {
        position: absolute;
        top: 39px;
        left: 0;
        background: #fff;
        min-height: 200px;
        width: 100%;
        box-shadow: 0px 4px 7px 3px #00000078;
        padding: 5px;
        box-sizing: border-box;
        z-index: 10;

        .product {
            display: flex;
            justify-content: space-between;
            padding: 5px;
            box-shadow: 0 0 4px 1px black;
            font-size: 18px;
            margin: 7px 0;
            .fa-trash-o {
                cursor: pointer;
                color: red;
            }
        }
    }
}